<table class="table table-hover" *ngIf="resultado.length>0">
  <thead>
      <tr>
          <th> # </th>
          <th> Bandera </th>
          <th> Nombre </th>
          <th> Población </th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let pais of resultado; let i=index"> <!-- Esto es lo que tenemos que repetir por cada país que encuentre -->
          <td> {{i+1}} </td> <!-- Aquí obtendremos el número de resultado -->
          <td>
              <img class="small-flag" [src]="pais.flags.svg" > <!-- Aquí obtendremos la url de la bandera -->
          </td>

          <td> {{pais.capital}},{{pais.name.common}}</td> <!-- La capital, el nombre del país y la población lo obtendremos de la api -->
          <td> {{pais.population|number}}</td>
          <td>
            <a [routerLink]="['/pais',pais.cca2]">Ver...</a>
          </td>
      </tr>
  </tbody>
</table>
