<div class="bg-dark border-right p-3" id="sidebar">
<h2>Busquedas</h2>
<hr>
<ul class="list-group">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link list-group-item" href="" routerLink="/">Buscar pais</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link list-group-item" href="region" routerLink="/region">Por region</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link list-group-item" href="capital" routerLink="/capital">Por capital</a>
  </li>
</ul>
